<li>
	<a id="Home" class="links" href="#/Student/Home"><i class="material-icons" style="font-size:100% !important;">home</i> Your Request</a>
</li>

<li>
	<a id="Profile" class="links" href="#/Student/Profile"><i class="material-icons" style="font-size:100% !important;">edit</i> Edit Profile</a>
</li>
<li>
		<a id="links" class="links" href="#/Home" ng-click="logout()"><i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">power_settings_new</i>{{button.name}}</a>
</li>