
<li>
	<a id="Home" class="links" href="#/Admin/Home">
		<i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">important_devices</i> Project Allocation</a>
</li>
<!--
<li>
	<a id="LateRegistration" class="links" href="#/Admin/LateRegistration">
		<i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">important_devices</i> Late Registration</a>
</li>
-->
<li>
	<a id="EditProblem" class="links" href="#/Admin/EditProblem">
		<i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">important_devices</i> Display Problems</a>
</li>

<li>
	<a id="ProjectsAllocated" class="links" href="#/Admin/ProjectsAllocated">
		<i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">done_all</i> Projects Allocated</a>
</li>
<li>
	<a id="Reports" class="links" href="#/Admin/Reports">
		<i class="material-icons" style="font-size:100% !important;">assignment</i> Reports</a>
</li>
<li>
	<a id="Booklet" class="links" href="#/Admin/Booklet">
		<i class="material-icons" style="font-size:100% !important;">assignment</i> Booklet</a>
</li>

<li>
	<a id="Mentors" class="links" href="#/Admin/Mentors">
		<i class="material-icons" style="font-size:100% !important;">account_box	</i> Mange Mentors</a>
</li>

<li>
	<a id="ProjectRanking" class="links" href="#/Admin/ProjectRanking">
		<i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">arrow_upward</i> Project Ranking</a>
</li>
<li>
	<a id="ChangePassword" class="links" href="#/Admin/ChangePassword">
		<i class="material-icons" style="font-size:100% !important;">vpn_key</i> Change Password</a>
</li>

<li>
	<a id="links" class="links" href="#/Home" ng-click="logout()">
		<i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">power_settings_new</i>{{button.name}}</a>
</li>