<li>
	<a id="Home" class="links" href="#/Mentor/Home"><i class="material-icons" style="font-size:100% !important;">home</i> Home</a>
</li>

<li>
	<a id="Home" class="links" href="#/Mentor/Appointment"><i class="material-icons" style="font-size:100% !important;">add</i> Schedule Appointment</a>
</li>
<li>
	<a id="Home" class="links" href="#/Mentor/Counsel"><i class="material-icons" style="font-size:100% !important;">done</i> Approve Appointment</a>
</li>

<li>
	<a id="Profile" class="links" href="#/Mentor/ChangePassword"><i class="material-icons" style="font-size:100% !important;">edit</i> Change Password</a>
</li>
<li>
		<a id="links" class="links" href="#/Home" ng-click="logout()"><i class="material-icons" style="font-size:100% !important;" style="color:rgb(155,0,50);">power_settings_new</i>{{button.name}}</a>
</li>