#header,#header1,#menu,#footer,#addButton,.buttons,#filters,#footer{
    display: none !important;
}
body, html, #wrapper {
    width: 100%;
    height:100%;
}
#content{
    overflow:visible;
}
#StudentHome{
    /* position: fixed; */
    margin-top:-230px;
    width:100%;
    /* top:-7rem !important; */
    display: block !important;
}
#ProjectPrintIndividual{
    margin-top: -230px !important;
}
/* table{
    padding:0;
    background-color: white;
    border:0px solid black !important;
} */
td{
    padding:5px !important;
}
#page-break-after,.page-break-after{
    page-break-after: always;
}
#no-break{
    page-break-inside: avoid;
}
td,b{
    font-size:0.7em;
}
.row{
    margin-top: 0 !important;
}
