<section class="wrapper header-margin-double" style="padding-top: 0px !important;">
    <div class="inner">
        <br>
        <h2 style="color: #3b5998;">
            <i class="material-icons">account_circle</i>Change Password</h2>
        <hr>
        <div class="row uniform">
            <div class="12u">
                <form id="changePassword">
                    <div class="row uniform">
                    <div class="4u 12u$(xsmall)">
                        <h6>Old Password</h6>
                        <input type="password" name="old_password" value="" ng-model="old_password" placeholder="Enter password" required/>
                    </div>
                    <div class="4u 12u$(xsmall)">
                        <h6>Password (Minimum 8 Characters)</h6>
                        <input type="password" name="new_password" value="" ng-model="password" placeholder="Enter password" required/>
                    </div>
                    <div class="4u$ 12u$(xsmall)">
                        <h6>Confirm Password</h6>
                        <input type="password" name="confirm_password" ng-model="confirm_password" value="" placeholder="Confirm your password" required/>
                    </div>
                    <div class="12u$">
                        <br>
                        <center>
                            <ul class="actions">
                                <li>
                                    <input type="hidden" name="credentials" value="{{cookie.credentials}}">
                                    <input type="hidden" name="email" value="{{cookie.email}}">
                                    <input type="hidden" name="change_password" value="true">
                                    <input type="submit" value="Edit Profile" id="registerStudent" class="button" style="color: white !important;background-color:rgb(155,0,50);"/>
                                </li>
                            </ul>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>