<div class="row uniform" class="header-margin-double">
	<div class="8u -2u 12u(xsmall)">
		<div class="row uniform">
			<div class="12u 12u(medium) 12u(small) 12u(xsmall)" style="border-left:1px solid lightgrey;border-right:1px solid lightgrey;">
				<br>
				<span>
					<br>
					<div class="col-xs-11" style="margin-right:2em;box-shadow:0px 2px 2px 2px lightgrey;padding:10px;" ng-repeat="event in events | filter:{ year: selected_year } | orderBy:'-year' | limitTo:limitPage:0">
						<div class="event-heading">
							<h4><b>LJ Innovation Village-{{event.year}}</b></h4>
						</div>
						<BR>
						<div id="justify">
							<p>
								{{event.description}}
							</p>
						</div>
						<div class="event-place">
							<h5><a href="#/Images/InnovationVillage/{{event.year}}">Photo Gallery</a></h5>
						</div>
						<br>
					</div>
					<center>
						<h4><a ng-click="viewAll()" ng-hide="allEventsLink" href="">View all Events</a></h4>
					</center>
					<br>
				</span>
			</div>
		</div>
	</div>
</div>