<div class="row uniform">
    <div class="8u -2u 12$($medium) 12u$(small) 12u$(xsmall)">
        <br>
        <br>
        <br>
        <div id="justify">

            <p style="font-size:16px !important;">
			LJ Innovation Village is a platform to showcase innovative projects, products, start-ups by innovators. It provides anopportunity to innovators to interact with students, faculties, industry people and investors.
            </p>
            <br>
            <p style="font-size:16px !important;">
			Innovation…an idea must be replicable at an economical cost and must satisfy a specific need. 		
            </p>
            <br>
            <p style="font-size:16px !important;"> To nurture these skills of students (youth), LJ Group of Institutes organizes LJ Innovation Village every year in January - February. It brings out hidden creativity of students, improves their skills and enhancing performance by focusing on overall innovative development.... 
				<a href="#/InnovationVillage" style="color:rgb(155,0,50);">Read More</a>
			</p>
            <br>
            <br>

        </div>
        <div class="row uniform">
		<div class="12u 12u$(xsmall)" style="padding:0;">
                <marquee onmouseover="stop()" onmouseout="this.start()">
                    <ul>
                        <!-- <li>
                            <h4> Registration closed!!   Project submitted users may view / Print project details.</h4>
                       	</li> -->
						<li> <h4>
						<a href="#Inquiry" Target="_BLANK"> Click Here for Inquiry </a></h4>
                        </li> 
                    </ul>
                </marquee>
            </div>
            <div class="7u 12u$(medium) 12u$(small) 12u$(xsmall)" style="height:525px !important;"> 
                
				<section id="Slider" style="border:1px solid lightgrey;margin:0.2em;padding:0.8em;box-shadow:0px 2px 2px 2px lightgrey;height:410px;">
				
                    <center>
                        <div id="slider11">
						<!-- Slide Show -->
							<section  >
							  <img class="mySlides" src="images/slider/ljoverseas_img1.png" 
							  style="width:95%;height:100%">
							  <img class="mySlides" src="images/slider/ljoverseas_img2.jpg" style=" width:95%;height:100%">
							  <img class="mySlides" src="images/slider/ljoverseas_img3.png" 
							  style="width:95%;height:100%" >
							  <img class="mySlides" src="images/slider/ljoverseas_img1.png" 
							  style="width:95%;height:100%" >
							  <img class="mySlides" src="images/slider/ljoverseas_img2.jpg" 
							  style="width:95%;height:100%" >
							  <img class="mySlides" src="images/slider/ljoverseas_img3.png" 
							  style="width:95%;height:100%" >
							  <img class="mySlides" src="images/slider/ljoverseas_img1.png" 
							  style="width:95%;height:100%" >
							  <img class="mySlides" src="images/slider/ljoverseas_img2.jpg" 
							  style="width:95%;height:100%" >
							  <img class="mySlides" src="images/slider/ljoverseas_img3.png" 
							  style="width:95%;height:100%" >
							  <img class="mySlides" src="images/slider/ljoverseas_img1.png" 
							  style="width:95%;height:100%" >
							   <img class="mySlides" src="images/slider/ljoverseas_img2.jpg" 
							  style="width:95%;height:100%" >
							   <img class="mySlides" src="images/slider/ljoverseas_img3.png" 
							  style="width:95%;height:100%" >
							   <img class="mySlides" src="images/slider/ljoverseas_img1.png.JPG" 
							  style="width:95%;height:100%" >
							</section>

							<script>
							// Automatic Slideshow - change image every 3 seconds
							var myIndex = 0;
							carousel();

							function carousel() {
								var i;
								var x = document.getElementsByClassName("mySlides");
								for (i = 0; i < x.length; i++) {
								   x[i].style.display = "none";
								}
								myIndex++;
								if (myIndex > x.length) {myIndex = 1}
								x[myIndex-1].style.display = "block";
								setTimeout(carousel, 3000);
							}
							</script>

							<!-- 
                            <figure>
                                <img src="images/ljv_banner1.png" alt>
                                <img src="images/ljv_banner2.png" alt>
                                <img src="images/ljv_banner3.png" alt>
                                <img src="images/ljv_banner1.png" alt>
                                <img src="images/ljv_banner2.png" alt>
                                <img src="images/ljv_banner3.png" alt>
                                <img src="images/ljv_banner1.png" alt>
                                <img src="images/ljv_banner2.png" alt>
                                <img src="images/ljv_banner3.png" alt>
                                <img src="images/ljv_banner1.png" alt>
                                <img src="images/ljv_banner2.png" alt>
                                <img src="images/ljv_banner3.png" alt>
                                <img src="images/ljv_banner1.png" alt>
                                <img src="images/ljv_banner2.png" alt>
                                <img src="images/ljv_banner3.png" alt>
                            </figure>
                        </div>
						
						-->
                        <!-- <div id="slider">
                                <img src="images/LJ Innovation Village-Scrolling images2.jpg" alt>
                                <img src="images/ljinv2016.png" alt>
                                <img src="images/ljinv2017.png" alt>
                        </div> -->
                    </center>
                </section>
            </div>
            <div class="5u 12u$(medium) 12u$(small) 12u$(xsmall)" style="height:525px !important;">
                <section id="Slider" style="border:1px solid lightgrey;margin:0.2em;padding:0.8em;box-shadow:0px 2px 2px 2px lightgrey;height:410px;">
                    <h3>
                        <i class="material-icons">volume_up</i> Speeches </h3>
                   <!--  <marquee direction="up" onmouseover="stop()" onmouseout="this.start()">
   -->                   
				   <div style="overflow:auto !important;height:330px;">
					
                        <table style="height:410px;">
                            <tr ng-repeat="speech in speeches">
                                <td>
                                    <div id="justify">
                                        <p style="font-size:13px !important;">{{speech.summary}}
                                        <a href="{{speech.url}}" style="color:rgb(155,0,50);">Read More</a></p>
                                    </div>
                                </td>
                                <td>
                                    <img ng-src="{{speech.photo_url}}" height="50" width="50">
                                </td>
                            </tr>
                        </table>
						
                    </div> 
					<!-- </marquee>  -->
                </section>
            </div>
			
              
			
        </div>
        <div class="row uniform">
            <div class="6u 12u$(medium) 12u$(small) 12u$(xsmall)" style="padding-top:0;">
                <section id="Slider" style="border:1px solid lightgrey;margin:0.2em;padding:0.8em;box-shadow:0px 2px 2px 2px lightgrey;">
                    <h3>
                        <i class="material-icons">event</i> Innovation Village</h3>
                    <div style="overflow:auto !important;height:350px;">
                        <table>
                            <tr ng-repeat="event in events | orderBy:'-year'">
                                <td>
                                    <b>LJ Innovation Village {{event.year}}</b>
                                    <ul style="margin:0;">
                                        <li>
                                            <div id="justify">
                                                <p style="font-size:13px !important;">
                                                    {{event.summary}}
                                                    <a href="#Events/{{event.year}}" style="color:rgb(155,0,50);">Read More</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </center>
                </section>
            </div>
            <div class="6u 12u$(medium) 12u$(small) 12u$(xsmall)" style="padding-top:0;">
                <section id="Slider" style="border:1px solid lightgrey;margin:0.2em;padding:0.8em;box-shadow:0px 2px 2px 2px lightgrey;">
                    <h3>
                        <i class="material-icons">event</i> Initiatives</h3>
                    <div style="overflow:auto !important;height:350px;">
                        <table>
                            <tr ng-repeat="initiative in initiatives">
                                <td>
                                    <b>{{initiative.title}}</b>
                                    <ul style="margin:0;">
                                        <li>
                                            <div id="justify">
                                                <p style="font-size:13px !important;">
                                                    {{initiative.summary}}
                                                    <a href="{{initiative.url}}" style="color:rgb(155,0,50);">Read More</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </center>
                </section>
            </div>
            <div class="12u 12u$(medium) 12u$(small) 12u$(xsmall)">
                <div style="margin-left:2em;margin-right:2em;">
                    <br>
                    <center>
                        <a href="" ng-click="previous()">
                            <i class="material-icons">navigate_before</i>
                        </a>
                        <span ng-repeat="ele in videos | limitTo:6:start">
                            <a href="{{ele.url}}" target="_BLANK">
                                <img ng-src="{{ele.image}}" style="margin:1% !important;" height="50">
                            </a>
                        </span>
                        <a href="" ng-click="next()">
                            <i class="material-icons">navigate_next</i>
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     //   $(document).ready(function(){
       //     $('#slider').EzFade({height:"450"});
        //});
    </script>