<li>
	<a id="Home" class="links" href="#/Home" >
		<i class="material-icons" style="font-size:100% !important;" >home</i> Home</a>
</li>
<li>
	<a id="About" class="links" href="#/About/LJKnowledgeFoundation" >
		<i class="material-icons" style="font-size:100% !important; " >info</i> About Us</a>
</li>
<li>
	<a id="InnovationVillage" class="links" href="#InnovationVillage" >
		<i class="material-icons" style="font-size:100% !important;" >lightbulb_outline</i> Innovation Village</a>
</li>
<li>
	<a id="Initiatives" class="links" href="#Initiatives/ProjectToProduct" >
		<i class="material-icons" style="font-size:100% !important;" >card_membership</i> Initiatives</a>
</li>

<li>
	<a id="Images" class="links" href="#Images" >
		<i class="material-icons" style="font-size:100% !important;" >image</i> Gallery</a>
</li>
<li>
	<a id="Projects" class="links" href="#Projects" >
		<i class="material-icons" style="font-size:100% !important;" style=" ">important_devices</i> Projects</a>
</li>
<!-- <li>
	<a id="Mentors" class="links" href="#Mentors" >
		<i class="material-icons" style="font-size:100% !important;" style=" ">school</i> Mentors</a>
</li>
-->
<li>
	<a id="Reports" class="links" href="#Reports" >
		<i class="material-icons" style="font-size:100% !important;" style=" ">assignment</i> Reports</a>
</li>

<li>
	<a id="Schedule" class="links" href="#Schedule" >
		<i class="material-icons" style="font-size:100% !important;" >timer</i> Schedule</a>
</li>

<li>
	<a id="RegisterStudent" class="links" href="#RegisterStudent" >
		<i class="material-icons" style="font-size:100% !important;" >people</i> Register</a>
</li>
<li>
	<a id="Login" class="links" href="#Login" >
		<i class="material-icons" style="font-size:100% !important;" >perm_identity</i>Login</a>
</li>
<li>
	<a id="Contact" class="links" href="#Contact" >
		<i class="material-icons" style="font-size:100% !important;" >dialer_sip</i>Contact Us</a>
</li>