<div class="row uniform header-margin-double">
	<div class="8u -2u 12u(xsmall)">
		<div class="row uniform">

			<div class="3u 12u(medium) 12u(small) 12u(xsmall)">
				<br>

				<table style="margin-top:0.2em;" id="menu-table">
					<tr>
						<td>
							<a href="#/About/LJKnowledgeFoundation" class="links" style="color:rgb(155,0,50);">LJ Knowledge Foundation</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#/About/LJGroupOfInstitute" class="links" style="color:rgb(155,0,50);">LJ Group of Institutes</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#/About/LJKFounders" class="links" style="color:rgb(155,0,50);">LJK Founders</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#/About/PresidentMessage" class="links" style="color:rgb(155,0,50);">President Message</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#/About/VPMessage" class="links" style="color:rgb(155,0,50);">VP Message</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://ljinstitutes.org" target="_BLANK" class="links" style="color:rgb(155,0,50);">Visit LJK</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="9u 12u(medium) 12u(small) 12u(xsmall)" style="border-left:1px solid lightgrey;border-right:1px solid lightgrey;">
					<br>
					<br>
					<div class="12u 12u(xsmall)" style="min-height:300px;">
						<div ng-include="current_html"></div>
					</div>
				</div>
		</div>
	</div>
</div>