<section class="wrapper" style="padding-top: 0px !important;">
    <div class="inner">
        <h2 style="color: #f6755e;">
            <i class="material-icons">picture_as_pdf</i> Materials</h2>
        <hr>
        <form method="post" action="#">
            <div class="row uniform">
                <div class="3u 12u$(xsmall)">
                    <h4>School Board</h4>
                    <div class="select-wrapper">
                        <select name="category" onchange="enableSelection('#standard');" id="Board">
                            <option value="">- Select School Board -</option>
                            <option value="1">CBSE</option>
                            <option value="1">Gujarat Board</option>
                        </select>
                    </div>
                </div>
                <div class="3u 12u$(xsmall)">
                    <h4>Standard</h4>
                    <div class="select-wrapper">
                        <select name="category" onchange="enableSelection('#subject')" id="standard" disabled>
                            <option value="">- Select Standard -</option>
                            <option value="6-Gujarati">6 - Gujarati</option>
                            <option value="6-English">6 - English</option>
                            <option value="7-Gujarati">7 - Gujarati</option>
                            <option value="7-English">7 - English</option>
                            <option value="8-Gujarati">8 - Gujarati</option>
                            <option value="8-English">8 - English</option>
                            <option value="9-Gujarati">9 - Gujarati</option>
                            <option value="9-English">9 - English</option>
                        </select>
                    </div>
                </div>
                <div class="3u 12u$(xsmall)">
                    <h4>Subject</h4>
                    <div class="select-wrapper">
                        <select name="category" id="subject" disabled>
                            <option value="">- Select Subject -</option>
                            <option value="6">All Subjects</option>
                            <option value="6">Gujarati</option>
                            <option value="7">English</option>
                            <option value="8">Science</option>
                            <option value="9">Maths</option>
                        </select>
                    </div>
                </div>
                <div class="3u 12u$(xsmall)">
                    <h4>Filter</h4>
                    <div class="select-wrapper">
                        <select name="category">
                            <option value="">- Select Filter -</option>
                            <option value="All">All</option>
                            <option value="Filter - 1">Filter - 1</option>
                            <option value="Filter - 2">Filter - 2</option>
                        </select>
                    </div>
                </div>
                <div class="12u$">
                    <h4>
                        <i class="material-icons">search</i> Search</h4>
                    <input type="text" placeholder="Search" name="search">
                </div>
                <div class="12u$" style="color: black;">
                    <a href="javascript:tableView('#table_view','grid_view')">
                        <i class="material-icons" style="float: right;padding: 5px;">list</i>
                    </a>
                    <a href="javascript:gridView('#grid_view','table_view')">
                        <i class="material-icons" style="float: right;padding: 5px;">grid_on</i>
                    </a>
                    <br>
                    <h4>Materials Of
                        <span style="color: #f6755e;">Gujarat Board - Standerd 8 - Maths - Filter - 1</span>
                    </h4>
                    <div class="row uniform" id="grid_view">
                        <div class="3u 12u$(xsmall)">

                            <center>
                                <p>
                                    <a href="files/Big Data Answers.pdf" style="text-decoration: none;">
                                        <i class="material-icons" style="font-size: 50px !important;">insert_drive_file</i>
                                        <br>
                                        <span style="font-weight: bold;">Chapter-1.pdf (
                                            <span style="color: #f6755e;">2MB</span>)</span>
                                    </a>
                                    <br> This is Chapter-1</p>
                            </center>
                        </div>
                        <div class="3u 12u$(xsmall)">
                            <center>
                                <p>
                                    <a href="javascript:fadeIn('#loginModel')" style="text-decoration: none;">
                                        <i class="material-icons" style="font-size: 50px !important;">insert_drive_file</i>
                                        <br>
                                        <span style="font-weight: bold;">Chapter-2.pdf (
                                            <span style="color: #f6755e;">0.5MB</span>)</span>
                                    </a>
                                    <br> This is Chapter-2</p>
                            </center>
                        </div>
                        <div class="3u 12u$(xsmall)">
                            <center>
                                <p>
                                    <a href="javascript:fadeIn('#loginModel')" style="text-decoration: none;">
                                        <i class="material-icons" style="font-size: 50px !important;">insert_drive_file</i>
                                        <br>
                                        <span style="font-weight: bold;">Chapter-3.pdf (
                                            <span style="color: #f6755e;">2MB</span>)</span>
                                    </a>
                                    <br> This is Chapter-3</p>
                            </center>
                        </div>
                        <div class="3u 12u$(xsmall)">
                            <center>
                                <p>
                                    <a href="javascript:fadeIn('#loginModel')" style="text-decoration: none;">
                                        <i class="material-icons" style="font-size: 50px !important;">insert_drive_file</i>
                                        <br>
                                        <span style="font-weight: bold;">Chapter-4.pdf (
                                            <span style="color: #f6755e;">2.5MB</span>)</span>
                                    </a>
                                    <br> This is Chapter-4</p>
                            </center>
                        </div>
                        <div class="3u 12u$(xsmall)">
                            <center>
                                <p>
                                    <a href="javascript:fadeIn('#loginModel')" style="text-decoration: none;">
                                        <i class="material-icons" style="font-size: 50px !important;">insert_drive_file</i>
                                        <br>
                                        <span style="font-weight: bold;">Chapter-5.pdf (
                                            <span style="color: #f6755e;">2MB</span>)</span>
                                    </a>
                                    <br> This is Chapter-5</p>
                            </center>
                        </div>
                        <div class="3u 12u$(xsmall)">
                            <center>
                                <p>
                                    <a href="javascript:fadeIn('#loginModel')" style="text-decoration: none;">
                                        <i class="material-icons" style="font-size: 50px !important;">insert_drive_file</i>
                                        <br>
                                        <span style="font-weight: bold;">Chapter-6.pdf (
                                            <span style="color: #f6755e;">2MB</span>)</span>
                                    </a>
                                    <br> This is Chapter-6</p>
                            </center>
                        </div>
                        <div class="3u 12u$(xsmall)">
                            <center>
                                <p>
                                    <a href="javascript:fadeIn('#loginModel')" style="text-decoration: none;">
                                        <i class="material-icons" style="font-size: 50px !important;">insert_drive_file</i>
                                        <br>
                                        <span style="font-weight: bold;">Chapter-7.pdf (
                                            <span style="color: #f6755e;">2MB</span>)</span>
                                    </a>
                                    <br> This is Chapter-7</p>
                            </center>
                        </div>

                    </div>
                    <div class="table-wrapper" id="table_view" style="display: none;">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>Name (Click to download)</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="files/Big Data Answers.pdf" target="_BLANK" style="text-decoration: none;">
                                            <b style="color: #f6755e;">Chapter-1</b>
                                        </a>
                                    </td>
                                    <td>This is Chapter-1</td>
                                    <td>pdf</td>
                                    <td>2MB</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:fadeIn('#loginModel')" target="_BLANK" style="text-decoration: none;">
                                            <b style="color: #f6755e;">Chapter-2</b>
                                        </a>
                                    </td>
                                    <td>This is Chapter-2</td>
                                    <td>pdf</td>
                                    <td>0.5MB</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:fadeIn('#loginModel')" target="_BLANK" style="text-decoration: none;">
                                            <b style="color: #f6755e;">Chapter-3</b>
                                        </a>
                                    </td>
                                    <td>This is Chapter-3</td>
                                    <td>pdf</td>
                                    <td>2MB</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:fadeIn('#loginModel')" target="_BLANK" style="text-decoration: none;">
                                            <b style="color: #f6755e;">Chapter-4</b>
                                        </a>
                                    </td>
                                    <td>This is Chapter-4</td>
                                    <td>pdf</td>
                                    <td>1.5MB</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:fadeIn('#loginModel')" target="_BLANK" style="text-decoration: none;">
                                            <b style="color: #f6755e;">Chapter-5</b>
                                        </a>
                                    </td>
                                    <td>This is Chapter-5</td>
                                    <td>pdf</td>
                                    <td>2.7MB</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>